[submodule "Common_core/42_collaborative_resume_100"]
	path = Common_core/42_collaborative_resume_100
	url = git@github.com:Mechard-Organization/42_collaborative_resume_100.git
	branch = main
[submodule "Common_core/ft_transcendence_125"]
	path = Common_core/ft_transcendence_125
	url = git@github.com:Mechard-Organization/ft_transcendence_125.git
	brqnch = main
[submodule "Common_core/Born2beroot_125"]
	path = Common_core/Born2beroot_125
	url = git@github.com:Mechard-Organization/Born2beroot.git
	branch = main
[submodule "Common_core/Cpp"]
	path = Common_core/Cpp
	url = git@github.com:Mechard-Organization/Cpp.git
	branch = main
[submodule "Common_core/IRC_125"]
	path = Common_core/IRC_125
	url = git@github.com:Mechard-Organization/IRC.git
	branch = main
[submodule "Common_core/Inception_100"]
	path = Common_core/Inception_100
	url = git@github.com:Mechard-Organization/Inception.git
	branch = main
[submodule "Common_core/Netpractice_100"]
	path = Common_core/Netpractice_100
	url = git@github.com:Mechard-Organization/Netpractice.git
	branch = main
[submodule "Common_core/Cub3D_105"]
	path = Common_core/Cub3D_105
	url = git@github.com:Mechard-Organization/Cub3D.git
	branch = main
[submodule "Common_core/ft_printf_110"]
	path = Common_core/ft_printf_110
	url = git@github.com:Mechard-Organization/Ft_printf.git
