[submodule "Complete_libft ✅"]
	path = Complete_libft ✅
	url = git@github.com:M2000-fr/Complete_Libft-.git
	branch = main
[submodule "In_progress/ft_transcendence"]
	path = In_progress/ft_transcendence
	url = git@github.com:M2000-fr/Ft_transcendence.git
	branch = main
